<section class="card">
  <div class="card-body">
    <h1>Acerca del proyecto</h1>
    <p>Buen Día Estudiantes, en este espacio por parejas para realizar la aplicación de todos los elementos trabajados con Node.js y Express.js.<br/>

Debe contener:<br/>

1. Creación de la estructura del proyecto de base con Node.<br/>

2. Maquetado del layout principal utilizando handlebars.<br/>

3. Conexión a la base de datos en MongoDB.<br/>

4. No se puede utilizar la plantilla ya creada en clase.<br/>

5. Plazo de Entrega: 10 de Marzo de 2021 a las 23:59.<br/>

6. Dos Intentos de Envío, favor enviarlo en winrar sin la carpeta Node Modules.<br/>

7. Cada integrante del grupo de enviar el proyecto y comentar quien es su pareja.<br/>

8. Los archivos para guiarse están en: Contenido Proyecto Node, Express y Mongo.<br/>

Cualquier inquietud con gusto.<br/>

Atte,

Ing. Julián Quimbayo</p>
  </div>
</section>
