<div class="jumbotron mt-4">
  <h1 class="display-4">Aplicacion de Notas en Nodejs y Mongodb! con Template Engine (Express.js)</h1>
  <p class="lead">Una simple Aplicacion para administrar notas desarrollada con tecnologias como Nodejs, Express, Mongodb y Javascript</p>
  <hr class="my-4">
  <p>¿con que limpiara el joven su camino? Con guardar tu palabra. (Salmo 119:9)</p>
  <a class="btn btn-primary btn-lg" href="https://www.youtube.com/user/Julioaqc" role="button">Julian Quimbayo</a>
</div>
